.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  .flag-img{
      width:90px;
      height:90px;
  }
  body {
    background-color: #0a0a0a;
  }
  
  h1 {
    margin: 30px;
    font-family: goldman;
    text-shadow: 5px 0 #fdf9f9;
    font-size: 6rem;
    color: #4ECCA3;
  }
  
  p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: goldman;
  }
  
  img {
    width: 80%;
  }
  
 
  